<%- include("../partials/header") %>

<!--<div class="container">-->

<header class="jumbotron">
  <div class="container">
    <h1>Welcome To Study Paradise</h1>
    <p>Do you want to study with me?</p>
    <p>
      <a class="btn btn-primary btn-lg" href="/study_rooms/new"
        >Add New Study Room</a
      >
    </p>
  </div>
</header>

<div class="row text-center" style="display: flex; flex-wrap: wrap;">
  <% study_rooms.forEach(function(study_room){ %>
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <img style="height: 180px; width: 99.8%;" src="<%= study_room.image %>" />
      <div class="caption">
        <h4><%= study_room.name %></h4>
      </div>
      <p>
        <a href="/study_rooms/<%= study_room._id %>" class="btn btn-primary"
          >More Info</a
        >
      </p>
    </div>
  </div>
  <% }); %>
</div>

<!--</div>-->

<%- include("../partials/footer") %>
